<!DOCTYPE html>
<html lang="en-us" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Ngloadablecontent by alexnoise79</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/alexnoise79/ngLoadableContent/master/example/app.css" media="screen">

  </head>
  <body ng-loadable="body" options="{color:'#f60',radius:12}">
    <section class="page-header">
      <h1 class="project-name">Ngloadablecontent</h1>
      <h2 class="project-tagline">angular loadable content module</h2>
      <a href="https://github.com/alexnoise79/ngLoadableContent" class="btn">View on GitHub</a>
      <a href="https://github.com/alexnoise79/ngLoadableContent/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/alexnoise79/ngLoadableContent/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="angular-loadable-content-module" class="anchor" href="#angular-loadable-content-module" aria-hidden="true"><span class="octicon octicon-link"></span></a>Angular Loadable Content Module</h1>

<h1>
<a id="description" class="anchor" href="#description" aria-hidden="true"><span class="octicon octicon-link"></span></a>Description</h1>

<hr>

<h6>
<a id="this-module-provides-a-series-of-service-and-directives-to-showhide-and-inject-multiple-spinjs-instances-on-each-wrapper-element-automatically-using-httpinterceptor" class="anchor" href="#this-module-provides-a-series-of-service-and-directives-to-showhide-and-inject-multiple-spinjs-instances-on-each-wrapper-element-automatically-using-httpinterceptor" aria-hidden="true"><span class="octicon octicon-link"></span></a>This module provides a series of service and directives to show/hide and inject multiple spin.js instances on each wrapper element automatically using httpInterceptor.</h6>

<h1>
<a id="installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h1>

<hr>

<div class="highlight highlight-text-html-basic"><pre>bower install ngloadablecontent</pre></div>

<h1>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h1>

<hr>

<ul>
<li>import script in your page</li>
</ul>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>script/spin.js/spin.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span class="pl-pds">"</span>script/src/ngLoadableContent.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;</pre></div>

<ul>
<li>inject the module dependency</li>
</ul>

<div class="highlight highlight-source-js"><pre><span class="pl-smi">angular</span>.<span class="pl-en">module</span>(<span class="pl-s"><span class="pl-pds">'</span>yourProject<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngLoadableContent<span class="pl-pds">'</span></span>]);</pre></div>

<ul>
<li>override the default configuration (optional)</li>
</ul>

<div class="highlight highlight-source-js"><pre><span class="pl-smi">yourProject</span>.<span class="pl-en">config</span>([<span class="pl-s"><span class="pl-pds">'</span>$loaderConfigProvider<span class="pl-pds">'</span></span>,<span class="pl-k">function</span> (<span class="pl-smi">$loaderConfigProvider</span>) {
    <span class="pl-smi">$loaderConfigProvider</span>.<span class="pl-en">setDefault</span>({color<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">"</span>#0047ab<span class="pl-pds">"</span></span>, lines<span class="pl-k">:</span><span class="pl-c1">20</span>, radius<span class="pl-k">:</span><span class="pl-c1">5</span>});
}]);</pre></div>

<ul>
<li>include the directive on the loadable element</li>
</ul>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">id</span>=<span class="pl-s"><span class="pl-pds">"</span>whatever<span class="pl-pds">"</span></span> <span class="pl-e">ng-loadable</span>=<span class="pl-s"><span class="pl-pds">"</span>[loadable-id]<span class="pl-pds">"</span></span> <span class="pl-e">options</span>=<span class="pl-s"><span class="pl-pds">"</span>{color:'#360',radius:5,lines:8,overlay:[true/false]}<span class="pl-pds">"</span></span>&gt;Content&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

<ul>
<li>inject the $loader service in your controller</li>
</ul>

<div class="highlight highlight-source-js"><pre><span class="pl-smi">yourProject</span>.<span class="pl-en">controller</span>(<span class="pl-s"><span class="pl-pds">'</span>YourController<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>$loader<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>$http<span class="pl-pds">'</span></span>, <span class="pl-k">function</span> (<span class="pl-smi">$loader</span>, <span class="pl-smi">$http</span>) {
    <span class="pl-c">/*your methods*/</span>
    <span class="pl-c">//call the $loader service on the element you want to show</span>
    <span class="pl-smi">$loader</span>.<span class="pl-en">spinElement</span>(loadable<span class="pl-k">-</span>id, <span class="pl-k">function</span>(){ <span class="pl-c">//callback });</span>
}]);</pre></div>

<ul>
<li>support for img tag <a href="https://github.com/landing" class="user-mention">@landing</a>
</li>
</ul>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">img</span> <span class="pl-e">id</span>=<span class="pl-s"><span class="pl-pds">"</span>big-image<span class="pl-pds">"</span></span> <span class="pl-e">ng-src</span>=<span class="pl-s"><span class="pl-pds">"</span>[source for image]<span class="pl-pds">"</span></span> <span class="pl-e">ng-loadable</span>=<span class="pl-s"><span class="pl-pds">"</span>[loadable-id]<span class="pl-pds">"</span></span> <span class="pl-e">options</span>=<span class="pl-s"><span class="pl-pds">"</span>{options}<span class="pl-pds">"</span></span>/&gt;</pre></div>

<ul>
<li>additional css</li>
</ul>

<div class="highlight highlight-source-css"><pre>[ng-loadable]{
    <span class="pl-c1"><span class="pl-c1">position</span></span>: <span class="pl-c1">relative</span>;
}
<span class="pl-e">.overlay</span> {
    <span class="pl-c1"><span class="pl-c1">position</span></span>: (<span class="pl-c1">fixed</span>/<span class="pl-c1">absolute</span>);
    <span class="pl-c1"><span class="pl-c1">z-index</span></span>: <span class="pl-c1">5</span>;
    <span class="pl-c1"><span class="pl-c1">width</span></span>: <span class="pl-c1">100<span class="pl-k">%</span></span>;
    <span class="pl-c1"><span class="pl-c1">height</span></span>: <span class="pl-c1">100<span class="pl-k">%</span></span>;
    <span class="pl-c1"><span class="pl-c1">top</span></span>: <span class="pl-c1">0</span>;
    <span class="pl-c1"><span class="pl-c1">right</span></span>: <span class="pl-c1">0</span>;
}</pre></div>

<h1>
<a id="example" class="anchor" href="#example" aria-hidden="true"><span class="octicon octicon-link"></span></a>Example</h1>

<hr>

    <main ng-controller="PageController as page">

        <div id="wrapper">

            <div class="box" ng-loadable="graph" options="{color:'#5bc0de', radius:25, lines:13, length:1, width:9, trail:100, overlay:false, zIndex:5}">
                <span>GRAPH (key: 1)</span>
                <div class="inner">
                    <div class="bars" ng-repeat="bx in page.graph track by $index" style="height:{{bx+'px'}}"></div>
                </div>
                <button class="btn btn-info" ng-click="page.req('graph', '/graph')">load the graph</button>
            </div>

            <div class="box">
                <span>MANUAL (key: 2)</span>
                <div class="inner" ng-loadable="manual"></div>
                <button class="btn btn-primary" ng-click="page.customStart('manual')">Manual</button>
            </div>

            <div class="box">
                <span>FORM (key: 3)</span>
                <form class="inner" novalidate>
                    <div class="form-group">
                        <label for="inputEmail3">Email address <span class="valid" ng-show="page.email">✓</span></label>
                        <div ng-loadable="email"
                             options="{color:'#f0ad4e', radius:8, lines:7, length:0, width:8, shadow:false, left:'90%', zIndex:5}">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Email" ng-model="page.name" ng-class="{valid: page.email, invalid: !page.email}">
                        </div>
                    </div>
                </form>
                <button class="btn btn-warning" ng-click="page.req('email','/email', page.name)">Check Email</button>
            </div>

            <div class="box">
                <span>IMAGE (key: 4)</span>
                <div class="inner">
                    <img id="big-image" ng-src="http://lorempixel.com/1920/768/?a=1" ng-loadable="img1" options="{scale:3, color:'#5cb85c'}"/>
                </div>
                <button class="btn btn-success" ng-click="page.reloadImage('img1')">Reload Image</button>
            </div>
        </div>

        <p class="warning">
            Warning, this example use ngMock End to End [ngMockE2E] to emulate AJAX requests, so you will not see any call into the network panel.
        </p>

        <div class="buttons">
            <button class="btn btn-primary" ng-click="page.req('body')">load me in the body (key: spacebar)</button>
        </div>

    </main>

<h1>
<a id="options" class="anchor" href="#options" aria-hidden="true"><span class="octicon octicon-link"></span></a>Options</h1>

<hr>

<ul>
<li>overlay //display an overlay</li>
<li>lines // The number of lines to draw</li>
<li>length // The length of each line</li>
<li>width // The line thickness</li>
<li>radius // The radius of the inner circle</li>
<li>scale // Scales overall size of the spinner</li>
<li>corners // Corner roundness (0..1)</li>
<li>color // #rgb or #rrggbb or array of colors</li>
<li>opacity // Opacity of the lines</li>
<li>rotate // The rotation offset</li>
<li>direction // 1: clockwise, -1: counterclockwise</li>
<li>speed // Rounds per second</li>
<li>trail // Afterglow percentage</li>
<li>fps // Frames per second when using setTimeout() as a fallback for CSS</li>
<li>zIndex // The z-index (defaults to 10)</li>
<li>className // The CSS class to assign to the spinner (defaults 'spinner')</li>
<li>top // Top position relative to parent</li>
<li>left // Left position relative to parent</li>
<li>shadow // Whether to render a shadow</li>
<li>hwaccel // Whether to use hardware acceleration</li>
<li>position // Element positioning</li>
</ul>

<h1>
<a id="more-about-spinjs" class="anchor" href="#more-about-spinjs" aria-hidden="true"><span class="octicon octicon-link"></span></a>More About spin.js</h1>

<hr>

<p><a href="http://fgnass.github.io/spin.js/">http://fgnass.github.io/spin.js/</a></p>

<p>this software is released under MIT license</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/alexnoise79/ngLoadableContent">Ngloadablecontent</a> is maintained by <a href="https://github.com/alexnoise79">alexnoise79</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-61975079-2");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0/angular-mocks.js"></script>

    <script src="https://raw.githubusercontent.com/fgnass/spin.js/master/spin.min.js"></script>
    <script src="https://raw.githubusercontent.com/alexnoise79/ngLoadableContent/master/src/ngLoadableContent.js"></script>
    <script src="https://raw.githubusercontent.com/alexnoise79/ngLoadableContent/master/example/app.js"></script>
  </body>
</html>
